<% provide(:title, "Ajuda") %>

<h1>Ajuda</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod et ante non hendrerit. In molestie ullamcorper varius. Vestibulum vulputate diam a eros pharetra auctor sed id enim. Cras bibendum suscipit justo, at egestas sem egestas condimentum. Pellentesque eget dui vitae dui vehicula tincidunt nec convallis massa. Pellentesque hendrerit, odio consequat condimentum cursus, lorem magna luctus sapien, vitae imperdiet odio justo quis enim. Ut sed lacinia magna, id ultricies sem. Ut aliquet, eros sed mattis porta, mi neque facilisis dui, eget rhoncus quam diam nec mi. Aenean luctus tortor sit amet gravida consectetur. Vestibulum libero diam, volutpat sed tincidunt in, suscipit eu leo. In dui justo, ornare nec eros sit amet, hendrerit vestibulum nibh. Nunc at neque eu purus venenatis faucibus nec ut nunc. 
</p>
