<div class="center jumbotron">
  <h1>Bem vindo ao<br/>Music Agent</h1>

  <h2>
    Aproximando a música e facilitando a sua vida!
  </h2>

  <%= link_to "Venha participar!", signup_path, class: "btn btn-lg btn-primary" %>
</div>