<footer class="footer">
  <small>
    Todos os direitos reservados à Mantena Labs &#169;
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
    </ul>
  </nav>
</footer>